---
title:
description: TeamCity in your pocket.
image: https://source.unsplash.com/S8ffHr_dxHo/?a=.png
bottom_image: https://source.unsplash.com/hmw698cRnHE/?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Use TeamCity on your mobile device anywhere you go</h1>
			<p class="subtext editable">TeamCityApp is a powerful Android application to manage your TeamCity server.</p>
			<a href='https://play.google.com/store/apps/details?id=com.github.vase4kin.teamcityapp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img width="45%" height="45%" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Navigate through projects</h2>
				<p class="editable">Browse projects and configurations on your TeamCity server.</p>
			</div>
			<div class="image">
                <img class="editable" src="images/Screenshot1.png" alt="Screenshot"/>
			</div>
		</div>
	</section>

    <section class="info">
        <div class="container flex">
            <div class="text">
                <h2 class="editable">Get easy access</h2>
                <p class="editable">Access your favorite configurations, running and queued builds
                    with just one tap.</p>
            </div>
            <div class="image">
                <img class="editable" src="images/Screenshot8.png" alt="Screenshot"/>
            </div>
        </div>
    </section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Explore navigation drawer</h2>
                <p class="editable">Manage user accounts.</p>
			</div>
			<div class="image">
                <img class="editable" src="images/Screenshot2.png" alt="Screenshot"/>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Browse configuration builds</h2>
				<p class="editable">Filter builds  by branch, build status or show only personal or pinned ones.</p>
			</div>
			<div class="image">
                <img class="editable" src="images/Screenshot3.png" alt="Screenshot"/>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Run builds</h2>
				<p class="editable">Choose a branch, an agent or even provide custom parameters.</p>
			</div>
			<div class="image">
                <img class="editable" src="images/Screenshot4.png" alt="Screenshot"/>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Observe build details</h2>
				<p class="editable">Have a look on build details, changes, tests, build log, artifacts and dependencies.</p>
			</div>
			<div class="image">
                <img class="editable" src="images/Screenshot5.png" alt="Screenshot"/>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Inspect failed tests</h2>
				<p class="editable">Filter tests or get additional info about particular failure.</p>
			</div>
			<div class="image">
                <img class="editable" src="images/Screenshot6.png" alt="Screenshot"/>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Manage artifacts</h2>
				<p class="editable">Manage every artifact in your build, open, view or download them.</p>
			</div>
			<div class="image">
                <img class="editable" src="images/Screenshot7.png" alt="Screenshot"/>
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Install TeamCityApp today</h2>
				<p class="subtext editable">Best way to use TeamCity on your phone.</p>
				<a href='https://play.google.com/store/apps/details?id=com.github.vase4kin.teamcityapp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img width="45%" height="45%" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
			</div>
		</div>
	</section>
</div>
